In [1]:
om.setup()

Omega(mongo_url=mongodb://FEBfEFRkz4ASsHSBWWkULMaK7TRS3T4gwGnp:pDWvmrB7q9ayuZ7TqZrtk4XJqesbNnHbmjZh@omegaml.omegaml.io:27017/test3)

In [6]:
class foo():
    def __iter__(self):
        return iter(['a', 'b'])

bar = []
bar.extend(foo())
bar

['a', 'b']

In [7]:
import pandas as pd

df = pd.DataFrame({
    'x': range(5),
    'y': range(5)
})
om.datasets.put(df, 'sample', append=False)

mdf = om.datasets.getl('sample')
mdf.apply(lambda v: (v * 2)).value

   x  y
0  0  0
1  2  2
2  4  4
3  6  6
4  8  8

In [8]:
def complexfn(ctx):
    ctx.add({
        '$project': {
            'x': {
                '$multiply': ['$x', 5]
            }
        }
    })
    return ctx
mdf.apply(complexfn).value

    x
0   0
1   5
2  10
3  15
4  20

In [15]:
def complexfn(ctx):
    ctx.project(x={
                '$multiply': ['$x', 5]
    }, b={'$divide': ['$x', 5]})
    return ctx
mdf.apply(complexfn).value

     b   x
0  0.0   0
1  0.2   5
2  0.4  10
3  0.6  15
4  0.8  20

In [16]:
import pandas as pd

df = pd.DataFrame({
    'x': pd.date_range(start='now', periods=5),
    'y': range(5),
})
om.datasets.put(df, 'sample', append=False)

mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].dt.dayofweek).value

   x
0  2
1  3
2  4
3  5
4  6

In [17]:
import pandas as pd
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: dict(a=v['x'].dt.dayofweek,
                         b=v['x'].dt.year)).value

   a     b
0  2  2018
1  3  2018
2  4  2018
3  5  2018
4  6  2018

In [2]:
import pandas as pd
df = pd.DataFrame({
    'x': ['abc', 'def'],
    'b': ['xyz', 'nop'],
})

om.datasets.put(df, 'sample', append=False)
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v.str.concat(['x', '*', 'b'])).value

         b        x
0  abc*xyz  abc*xyz
1  def*nop  def*nop

In [14]:
mdf['x'].apply(lambda v: v.str.concat(['foo'])).inspect()

{'pipeline': [{'$project': {'_id': 1, 'x': {'$concat': ['foo']}}}]}

In [12]:
mdf = om.datasets.getl('sample')
print(mdf.value)
mdf.apply(lambda v: v.str.split('a')).value

     b    x
0  xyz  abc
1  nop  def

     b    x
0  xyz
1  xyz   bc
2  nop  def

In [6]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v.str.lower()).value

     b    x
0  xyz  abc
1  nop  def

In [8]:
mdf = om.datasets.getl('sample')
mdf['x'].apply(lambda v: v.str.substr(0, 2)).value

0    ab
1    de
Name: x, dtype: object

In [1]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.isequal('abc')).value

       x
0   True
1  False

In [7]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.len()).value

   x
0  3
1  3

In [8]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: v['x'].str.index('bc', 0)).value

   x
0  1
1 -1

In [26]:
mdf.apply(lambda ctx: ctx['v'] * 5 + 2).inspect()

{'pipeline': [{'$project': {'_id': 1, 'v': {'$multiply': ['$v', 5]}}},
  {'$project': {'_id': 1, 'v': {'$add': ['$v', 2]}}}]}

In [42]:
mdf.apply(lambda ctx: dict(a=ctx['v'] * 5, b=ctx['v'] / 2)).inspect()

{'pipeline': [{'$facet': {'a': [{'$project': {'_id': 1,
       'v': {'$multiply': ['$v', 5]}}},
     {'$project': {'a': '$v'}}],
    'b': [{'$project': {'_id': 1, 'v': {'$divide': ['$v', 2]}}},
     {'$project': {'b': '$v'}}]}}]}

In [60]:
mdf.apply(lambda ctx: ctx.project(v={'$divide': ['$v', 2]})).value

     v
0  3.5
1  4.0
2  4.5
3  5.0
4  5.5
5  6.0
6  6.5
7  7.0
8  7.5
9  8.0

In [38]:
def applyfn(ctx):
    return {
        'a': ctx['v'] * 5,
        'b': ctx['v'] * 6
    }

mdf.apply(applyfn).value

    a   b
0  35  42
1  40  48
2  45  54
3  50  60
4  55  66
5  60  72
6  65  78
7  70  84
8  75  90
9  80  96

In [4]:
import pandas as pd
df = pd.DataFrame({
    'x': ['abc', 'def'] * 5,
    'b': ['xyz', 'nop'] * 5,
    'v': range(7, 17),
})

om.datasets.put(df, 'sample', append=False)


def groupby(ctx):
    ctx.groupby('x', sum={'$sum': '$v'})['sum'] * 2

mdf = om.datasets.getl('sample')
#mdf.apply(groupby).inspect()
mdf = mdf.apply(groupby)
print(mdf.inspect())
[v for v in mdf._get_cursor()]
mdf.value

{'pipeline': [{'$group': {'sum': {'$sum': '$v'}, '_id': {'x': '$x'}}}, {'$project': {'x': '$_id.x', 'sum': 1, '_id': 1}}, {'$project': {'x': '$x', 'sum': {'$multiply': ['$sum', 2]}, '_id': 1}}]}

     sum
x
def  120
abc  110

In [9]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda ctx: ctx.groupby('x').sum('v')).value

     v_sum
x
def     60
abc     55

In [21]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'mean', 'std'])).reset_cache().value

     v_avg     v_std  v_sum
x
def   12.0  3.162278     60
abc   11.0  3.162278     55

In [7]:
df = om.datasets.get('sample')
df.groupby('x').agg(dict(v=['sum', 'mean', 'std']))

      v
    sum mean       std
x
abc  55   11  3.162278
def  60   12  3.162278

In [12]:
[] or ['a']

['a']

In [31]:
def percentiles(ctx):
    pipeline 
    return pipeline

In [15]:
import json
mdf = om.datasets.getl('sample')
d = mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).inspect()['pipeline']
json.dumps(d, sort_keys=True)

'[{"$group": {"_id": {"x": "$x"}, "v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}}}, {"$project": {"_id": 1, "v_avg": "$v_avg", "v_std": "$v_std", "v_sum": "$v_sum", "x": "$_id.x"}}]'

In [38]:
import numpy as np
import json
import pandas as pd
df = pd.DataFrame({
    'x': np.random.randint(10000),
    'b': np.random.randint(10000),
    'v': range(10000),
})
#om.datasets.put(df, 'sample', append=False)
#[om.datasets.put(df, 'sample') for i in range(1000)]
mdf = om.datasets.getl('sample')
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).persist()

CPU times: user 18.1 ms, sys: 0 ns, total: 18.1 ms
Wall time: 4.12 s

'97e1d97d4ecdf72c7d1e737930472daf'

In [44]:
mdf = om.datasets.getl('nytaxi')
mdf.apply(lambda ctx: ctx.groupby('DOLocationID').agg(fare_amount=['sum', 'avg', 'mean', 'std'])).persist()

'caa201fc5d0e59415cc5b3aa22362ee6'

In [51]:
%time mdf.apply(lambda ctx: ctx.groupby('DOLocationID').agg(fare_amount=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 17.9 ms, sys: 3.35 ms, total: 21.3 ms
Wall time: 121 ms

              fare_amount_avg  fare_amount_std  fare_amount_sum
DOLocationID
105                 15.250000         6.717514            30.50
110                 86.500000              NaN            86.50
99                  65.166667        17.001961           391.00
204                 82.857015        21.448065          5551.42
5                   69.377049        27.056678          4232.00
207                  7.684613        12.346139          2582.03
187                 58.793103        19.720422          3410.00
30                  40.916667        15.949859          1227.50
109                 67.703488        14.899344          5822.50
111                 24.713256        15.517227          3188.01
221                 31.346269        21.598703         10501.00
245                 51.608913        18.766743          4748.02
154                 43.858974        18.356127          3421.00
172                 57.921488        13.941247          7008.50
44                  86.448276        15.425712          2507.00
118                 57.517964        15.566017          9605.50
253                 26.268293        12.882206          1077.00
251                 57.391494        13.781850          8838.29
176                 60.366667        16.099843          4527.50
156                 62.410610        14.182364          5117.67
59                  28.472222        12.009987          1537.50
34                  18.015149        10.398021         25329.30
64                  40.063116        11.441170         27002.54
46                  47.626098         9.952281          5858.01
102                 28.027305         8.085000         39938.91
8                   19.127329        10.605317          3079.50
149                 41.936082        13.901494         45920.01
150                 45.458061        13.072919         20865.25
203                 24.829926        15.382482         20137.07
101                 38.458425        13.866548         17575.50
...                       ...              ...              ...
53                  29.986111        12.205250         29146.50
155                 42.042592        14.145234         46877.49
133                 29.980472        14.163742         92129.99
108                 39.271167        16.212011         25565.53
147                 25.660118        12.459982         25993.70
51                  42.500000        15.434195         29877.50
126                 26.104081        11.544024         28845.01
95                  26.256557         8.351521        294125.95
97                  18.563935        11.659760        320116.50
215                 24.489040        13.321721         22701.34
72                  31.379196        11.329752         45248.80
196                 25.097656         9.572321         90351.56
121                 28.739553        10.048019         43741.60
175                 36.523422         8.589246         26041.20
58                  38.651188         9.573178          7807.54
240                 35.178519        13.083835          9498.20
216                 27.275793        16.867763         95492.55
67                  36.207645        11.597883         51813.14
31                  34.676976        11.325229         10091.00
40                  21.708623        13.248366        249106.45
208                 36.998763        12.825430         41290.62
134                 27.990971        11.148531         60824.38
171                 31.005414        11.212518         40090.00
254                 41.682152        13.241939         31761.80
2                   56.125000        66.314053           449.00
178                 34.999779        17.244288         31604.80
242                 34.444962        12.861420         31930.48
3                   41.324741        12.379090         19959.85
220                 33.782411        12.878340        124826.01
218                 20.568458        14.187771         20671.30

[262 rows x 3 columns]

In [12]:
mdf = om.datasets.getl('sample')
mdf.apply(lambda v: dict(max={'$max': 'x'})).value

KeyboardInterrupt:

In [39]:
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 10.8 ms, sys: 3.8 ms, total: 14.6 ms
Wall time: 61.1 ms

       v_avg        v_std        v_sum
x
1088  4999.5  2886.751714  18848115000
3257  4999.5  2886.752761   5049495000

In [4]:
mdf = om.datasets.getl('sample')
%time mdf.apply(lambda ctx: ctx.groupby('x').agg(v=['sum', 'avg', 'mean', 'std'])).value

CPU times: user 14.2 ms, sys: 0 ns, total: 14.2 ms
Wall time: 61.4 ms

     v_avg     v_std     v_sum
x
def   12.0  2.828428  38811840
abc   11.0  2.828428  35577520

In [10]:
a = [1,2,3]
a[-1]

3

In [23]:
from hashlib import md5

md5('abc'.encode('utf-8')).hexdigest()

'900150983cd24fb0d6963f7d28e17f72'

In [3]:
om.setup()
om.datasets.mongodb

from omegaml.mixins.mdf.apply import ApplyCache
from omegaml.documents import QueryCache
%time [v.to_mongo().to_dict() for v in QueryCache.objects.all()]

CPU times: user 40.7 ms, sys: 409 µs, total: 41.1 ms
Wall time: 384 ms

[{'_id': ObjectId('5af1c9fdaebec30ec5915669'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '7d15a40833c90ee139878e3d1b4a0a79',
  'value': {'pipeline': '[{"$group": {"v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}, "v_avg": {"$avg": "$v"}}}, {"$project": {"v_sum": "$v_sum", "v_std": "$v_std", "v_avg": "$v_avg", "_id": 1, "x": "$_id.x"}}, {"$out": "cache_61b8542b0926446db73e569b2de2c3a3"}]',
   'result': None}},
 {'_id': ObjectId('5af1d773aebec30ec59189fb'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'c2a273b5a9a1554e96006f689aa2fe94',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "v_avg": {"$avg": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_sum": "$v_sum", "x": "$_id.x", "v_std": "$v_std", "v_avg": "$v_avg", "_id": 1}}, {"$out": "cache_b9f62e22aedf4278adc2ac7944b90c5d"}]',
   'result': 'cache_b9f62e22aedf4278adc2ac7944b90c5d'}},
 {'_id': ObjectId('5af1da21aebec30ec591a647'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'c52225723a1959a83c313c9d58c7a31d',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_0b663113b64a4c8b8d0d2bbb8635becd"}]',
   'result': 'cache_0b663113b64a4c8b8d0d2bbb8635becd'}},
 {'_id': ObjectId('5af1da32aebec30ec591a69c'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'd3e2226116b10c8371de163286a569aa',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_9c7a32c33e424e1ba4388d369dfdf384"}]',
   'result': 'cache_9c7a32c33e424e1ba4388d369dfdf384'}},
 {'_id': ObjectId('5af1da7daebec30ec591a7e9'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '668d83f6483bfe33a7854beb95b4202f',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_84cfd9672e3f4fe7b306958b600e0821"}]',
   'result': 'cache_84cfd9672e3f4fe7b306958b600e0821'}},
 {'_id': ObjectId('5af1da81aebec30ec591a801'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '85b44b868c5d2c0b44bde70bc9169946',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_3f6d79e918f5489e80629ade342c48ab"}]',
   'result': 'cache_3f6d79e918f5489e80629ade342c48ab'}},
 {'_id': ObjectId('5af1da87aebec30ec591a82c'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'e021144a595794c52cc2fa9845222479',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_bc4042aa09ec4ef8849b3f46cfb4801b"}]',
   'result': 'cache_bc4042aa09ec4ef8849b3f46cfb4801b'}},
 {'_id': ObjectId('5af1dacfaebec30ec591a953'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '81d0e582bada0838817f77db41225886',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_4ead10ad26634da4812d15aa60d39dd2"}]',
   'result': 'cache_4ead10ad26634da4812d15aa60d39dd2'}},
 {'_id': ObjectId('5af1dad2aebec30ec591a970'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'b05e94e1e8da67bc0a3367f537e6e906',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_98673bdffd134c14ab5e0b26e9310701"}]',
   'result': 'cache_98673bdffd134c14ab5e0b26e9310701'}},
 {'_id': ObjectId('5af1dad4aebec30ec591a98d'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '222d69a0b80446ebea896adde4a2fa81',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_367f34a7e49c4241bd74f87dda97a622"}]',
   'result': 'cache_367f34a7e49c4241bd74f87dda97a622'}},
 {'_id': ObjectId('5af1dad6aebec30ec591a9a1'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'f1eb3e313350d2043ae35af9ae9d20a2',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_42625c9acbb547cfb9fa683b099f68f6"}]',
   'result': 'cache_42625c9acbb547cfb9fa683b099f68f6'}},
 {'_id': ObjectId('5af1dad8aebec30ec591a9b3'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'ca168fcdbb0625ba64432d718ab285c1',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_bb2af5d5cf0b4939b3a9275d3a2c443d"}]',
   'result': 'cache_bb2af5d5cf0b4939b3a9275d3a2c443d'}},
 {'_id': ObjectId('5af1dadaaebec30ec591a9c8'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '1ddda8082e920233c769691e70849f56',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_avg": "$v_avg", "x": "$_id.x", "v_std": "$v_std", "v_sum": "$v_sum", "_id": 1}}, {"$out": "cache_75ba57c702c44f99a6962567025a5bc6"}]',
   'result': 'cache_75ba57c702c44f99a6962567025a5bc6'}},
 {'_id': ObjectId('5af1daf4aebec30ec591aa3f'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'f3b8644a1037167222f47770c1a677dc',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_avg": "$v_avg", "v_sum": "$v_sum", "v_std": "$v_std", "_id": 1}}, {"$out": "cache_5c9dd9217fbe4f37b6d94c0b367b594e"}]',
   'result': 'cache_5c9dd9217fbe4f37b6d94c0b367b594e'}},
 {'_id': ObjectId('5af1dafbaebec30ec591aa67'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '9f3dfe616d752ec2a628b2df308656b6',
  'value': {'pipeline': '[{"$group": {"v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "v_std": {"$stdDevSamp": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"x": "$_id.x", "v_avg": "$v_avg", "v_sum": "$v_sum", "v_std": "$v_std", "_id": 1}}, {"$out": "cache_24e18714530749b4b895e9d11e70037e"}]',
   'result': 'cache_24e18714530749b4b895e9d11e70037e'}},
 {'_id': ObjectId('5af1db2faebec30ec591ab47'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '2d146708fab9cdfc82d9b39329565e9c',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_92c7d0f4c7bf4f509949182b48e5f680"}]',
   'result': 'cache_92c7d0f4c7bf4f509949182b48e5f680'}},
 {'_id': ObjectId('5af1db33aebec30ec591ab63'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '4507ddc3ffe3294b1265899c70da17c9',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_3475c08b9110473c8d512de485b06e61"}]',
   'result': 'cache_3475c08b9110473c8d512de485b06e61'}},
 {'_id': ObjectId('5af1db3baebec30ec591ab8e'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'fb507b70f2608aa19af1617b63ff884d',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_e9aac1fe4f8a47c0998f6129f83a906d"}]',
   'result': 'cache_e9aac1fe4f8a47c0998f6129f83a906d'}},
 {'_id': ObjectId('5af1db3eaebec30ec591aba3'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '8f8a2f71020084f5d113a3a91b6a64ce',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_d7df1df3d04a449fb59be36fa9741dee"}]',
   'result': 'cache_d7df1df3d04a449fb59be36fa9741dee'}},
 {'_id': ObjectId('5af1db42aebec30ec591abc4'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '703f382d23424cc4a2335362aba1ba05',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_b07117a5ba5f450ea009714114374032"}]',
   'result': 'cache_b07117a5ba5f450ea009714114374032'}},
 {'_id': ObjectId('5af1db4eaebec30ec591ac05'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '998d8395ab15b403c6777e6e357f5515',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_46607a68616a40d498af8286aacaf53b"}]',
   'result': 'cache_46607a68616a40d498af8286aacaf53b'}},
 {'_id': ObjectId('5af1db52aebec30ec591ac21'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': 'ed3ba40eb51b9e020694f6878de4b104',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_3c794fc9e53749a9acfb14fd6b68e0d4"}]',
   'result': 'cache_3c794fc9e53749a9acfb14fd6b68e0d4'}},
 {'_id': ObjectId('5af1db59aebec30ec591ac49'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '809ef0e8f9dd1f5f0ef6211fe6aa8440',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_38c7e031917e4047988ca502e17981a2"}]',
   'result': 'cache_38c7e031917e4047988ca502e17981a2'}},
 {'_id': ObjectId('5af1db5eaebec30ec591ac66'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '48fadb0dcb18965a313f0bf2a5f4c37c',
  'value': {'pipeline': '[{"$group": {"v_std": {"$stdDevSamp": "$v"}, "v_avg": {"$avg": "$v"}, "v_sum": {"$sum": "$v"}, "_id": {"x": "$x"}}}, {"$project": {"v_std": "$v_std", "v_avg": "$v_avg", "v_sum": "$v_sum", "x": "$_id.x", "_id": 1}}, {"$out": "cache_7330ecdd69bb403687805c83c14ffc2c"}]',
   'result': 'cache_7330ecdd69bb403687805c83c14ffc2c'}},
 {'_id': ObjectId('5af1dc3daebec30ec591afed'),
  'collection': 'omegaml.data_.sample.datastore',
  'key': '97e1d97d4ecdf72c7d1e737930472daf',
  'value': {'collection': 'omegaml.data_.sample.datastore',
   'result': 'cache_4ae29ebf2c70414497c5f65bf0980daa'}}]

In [6]:
%time [v for v in mdf.collection.database['cache_999b1066e1894a22b38c0e61c2e948ec']

CPU times: user 0 ns, sys: 3.89 ms, total: 3.89 ms
Wall time: 22 ms

[]

In [29]:
from omegaml.documents import QueryCache
QueryCache.objects.filter(value__collection='omegaml.data_.sample.datastore').delete()

0

In [2]:
om.datasets.list()

['bikeshare',
 'cnn',
 'game',
 'myspace/foo',
 'nytaxi',
 'sample',
 'test2',
 'test_kfold',
 'testidx',
 'train']

In [33]:
df = om.datasets.get('bikeshare')
df.describe()

,casual,feelslike,holiday,hour,humidity,month,registered,riders,rowid,season,temp,weather,weekday,windspeed,workingday,year
count,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,35.676218,0.475775,0.028770,11.546752,0.627229,6.537775,153.786869,189.463088,8690.0000,2.501640,0.496987,1.425283,3.003683,0.190098,0.682721,0.502561
std,49.305030,0.171850,0.167165,6.914405,0.192930,3.438776,151.357286,181.387599,5017.0295,1.106918,0.192556,0.639357,2.005771,0.122340,0.465431,0.500008
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.0000,1.000000,0.020000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.333300,0.000000,6.000000,0.480000,4.000000,34.000000,40.000000,4345.5000,2.000000,0.340000,1.000000,1.000000,0.104500,0.000000,0.000000
50%,17.000000,0.484800,0.000000,12.000000,0.630000,7.000000,115.000000,142.000000,8690.0000,3.000000,0.500000,1.000000,3.000000,0.194000,1.000000,1.000000
75%,48.000000,0.621200,0.000000,18.000000,0.780000,10.000000,220.000000,281.000000,13034.5000,3.000000,0.660000,2.000000,5.000000,0.253700,1.000000,1.000000
max,367.000000,1.000000,1.000000,23.000000,1.000000,12.000000,886.000000,977.000000,17379.0000,4.000000,1.000000,4.000000,6.000000,0.850700,1.000000,1.000000

In [2]:
mdf = om.datasets.getl('bikeshare').mean()
mdf

,casual_mean,date_mean,feelslike_mean,holiday_mean,hour_mean,humidity_mean,month_mean,registered_mean,riders_mean,rowid_mean,season_mean,temp_mean,weather_mean,weekday_mean,windspeed_mean,workingday_mean,year_mean
0,35.676218,None,0.475775,0.02877,11.546752,0.627229,6.537775,153.786869,189.463088,8690.0,2.50164,0.496987,1.425283,3.003683,0.190098,0.682721,0.502561

In [32]:
mdf = om.datasets.getl('bikeshare')

def percentile(pctls=None):
    """
    calculate percentiles for all columns
    """
    pctls = pctls or [.25, .5, .75]
    if not isinstance(pctls, (list, tuple)):
            pctls = [pctls]
        
    def calc(col, p, outcol):
        # sort values
        sort = {
            '$sort': {
                col: 1,
            }
        }
        # group/push to get an array of all values
        group = {
            '$group': {
                '_id': col,
                'values': {
                    '$push': "$" + col
                },
            }
        }
        # find value at requested percentile
        perc = {
            '$arrayElemAt': [
                '$values', {
                    '$floor': {
                    '$multiply': [{
                        '$size': '$values'   
                    }, p]
                }}
            ]
        }
        # map percentile value to output column
        project = {
            '$project': {
                'var': col,
                'percentile': 'p{}'.format(p), 
                'value': perc,
            }
        }
        return [sort, group, project]
        
    def inner(ctx):
        # for each column and requested percentile, build a pipeline
        # all pipelines will be combined into a $facet stage to
        # calculate every column/percentile tuple in parallel
        facets = {}
        unwind = []
        # for each column build a pipeline to calculate the percentiles
        for col in ctx.columns:
            for p in pctls:
                # e.g. outcol for perc .25 of column abc => abcp25
                outcol = '{}_p{}'.format(col, p).replace('0.', '')
                facets[outcol] = calc(col, p, outcol)
                unwind.append({'$unwind': '$'+ outcol})
        # process per-column pipelines in parallel, resulting in one
        # document for each variable + percentile combination
        facet = {
            '$facet': facets
        }
        # expand single document into one document per variable + percentile combo 
        # the resulting set of documents contains var/percentile/value 
        expand = [{
            '$project': {
                'value': {
                    '$objectToArray': '$$CURRENT',
                }
            }
        }, {
            '$unwind': '$value'
        }, {
            '$replaceRoot': {
                'newRoot': '$value.v'
            }
        }]
        pipeline = [facet, *unwind, *expand]
        return pipeline
        
    return inner

cols = ['casual', 'feelslike', 'holiday', 'hour', 'humidity']
pctls = [.25, .75, .5, .75, .95]
#mdf[cols].apply(percentile(pctls)).inspect()
#[v for v in mdf[cols].apply(percentile(pctls))._get_cursor()]

%time mdf[cols].apply(percentile(pctls)).value

CPU times: user 22 ms, sys: 0 ns, total: 22 ms
Wall time: 661 ms

   percentile     value        var
0       p0.75   48.0000     casual
1       p0.75    0.7800   humidity
2       p0.75   18.0000       hour
3       p0.75    0.6212  feelslike
4        p0.5   12.0000       hour
5       p0.25    0.3333  feelslike
6       p0.95    0.0000    holiday
7       p0.25    6.0000       hour
8        p0.5   17.0000     casual
9       p0.75    0.0000    holiday
10      p0.95   22.0000       hour
11      p0.95    0.7424  feelslike
12      p0.95  139.0000     casual
13      p0.95    0.9300   humidity
14       p0.5    0.0000    holiday
15      p0.25    4.0000     casual
16      p0.25    0.0000    holiday
17       p0.5    0.4848  feelslike
18       p0.5    0.6300   humidity
19      p0.25    0.4800   humidity

In [92]:
import pandas as pd

%time dfx = mdf[cols].apply(percentile(pctls)).value
#dfx.groupby(['var', 'percentile']).value.first()
# equiv of describe output for percentiles
dfx.pivot('percentile', 'var', 'value')

CPU times: user 15.4 ms, sys: 445 µs, total: 15.9 ms
Wall time: 664 ms

var         casual  feelslike  holiday  hour  humidity
percentile
p0.25          4.0     0.3333      0.0   6.0      0.48
p0.5          17.0     0.4848      0.0  12.0      0.63
p0.75         48.0     0.6212      0.0  18.0      0.78
p0.95        139.0     0.7424      0.0  22.0      0.93

In [25]:
mdf = om.datasets.getl('bikeshare')
mdf.std()

,casual_std,date_std,feelslike_std,holiday_std,hour_std,humidity_std,month_std,registered_std,riders_std,rowid_std,season_std,temp_std,weather_std,weekday_std,windspeed_std,workingday_std,year_std
0,49.30503,None,0.17185,0.167165,6.914405,0.19293,3.438776,151.357286,181.387599,5017.0295,1.106918,0.192556,0.639357,2.005771,0.12234,0.465431,0.500008

In [90]:
%time df = om.datasets.get('bikeshare')
%time df[cols].describe(percentiles=[.25, .5, .75, .95])

CPU times: user 584 ms, sys: 36.6 ms, total: 621 ms
Wall time: 1.56 s
CPU times: user 23.8 ms, sys: 0 ns, total: 23.8 ms
Wall time: 23.2 ms

             casual     feelslike       holiday          hour      humidity
count  17379.000000  17379.000000  17379.000000  17379.000000  17379.000000
mean      35.676218      0.475775      0.028770     11.546752      0.627229
std       49.305030      0.171850      0.167165      6.914405      0.192930
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        4.000000      0.333300      0.000000      6.000000      0.480000
50%       17.000000      0.484800      0.000000     12.000000      0.630000
75%       48.000000      0.621200      0.000000     18.000000      0.780000
95%      138.100000      0.742400      0.000000     22.000000      0.930000
max      367.000000      1.000000      1.000000     23.000000      1.000000

In [2]:
%time df = om.datasets.get('bikeshare')
df[['casual', 'feelslike']].corr()

CPU times: user 1.66 s, sys: 204 ms, total: 1.86 s
Wall time: 3.21 s

            casual  feelslike
casual     1.00000    0.45408
feelslike  0.45408    1.00000

In [2]:
from itertools import product, combinations
cols = 'a', 'b', 'c'
list(product(cols, cols))
list(combinations(cols, r=2))

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [53]:
def pearson(ctx):
    facets = {}
    unwinds = []
    for x, y in combinations(ctx.columns, r=2):
        xcol = '$' + x
        ycol = '$' + y
        means = {
            xcol: ctx.caller[x].mean().values[0, 0],
            ycol: ctx.caller[y].mean().values[0, 0],
        }
        print(means)
        delta = {
            xcol: {
                '$subtract': [xcol, means[xcol]]
            },
            ycol: {
                '$subtract': [ycol, means[ycol]]
            }
        }
        std = {
            xcol: ctx.caller[x].std().values[0, 0],
            ycol: ctx.caller[y].std().values[0, 0],
        }
        factor = {
            xcol: {
                '$divide': [delta[xcol], std[xcol]]
            },
            ycol: {
                '$divide': [delta[ycol], std[ycol]]
            }
        }
        sumand = {
            '$sum': {
                       '$multiply': [factor[xcol], factor[ycol]]
            }
        }
        divisor = {
            '$multiply': [
                { '$sqrt': }
            ]
        }
        rho = {
            '$group': {
                '_id': None,
                'r': {
                   '$divide': [sumand, ]
                   
                }
            }
        }
        outcol = '{}_{}'.format(x, y)
        facets[] = [rho]
        unwinds.append({'$unwind': '$' + outcol})
    facet = {
        '$facet': facets,
    }
    
    return [facet, expand]
    
mdf = om.datasets.getl('bikeshare')
from pprint import pprint
print(mdf[['casual', 'feelslike']].apply(pearson).inspect())
[v for v in mdf[['casual', 'feelslike']].apply(pearson)._get_cursor()]

SyntaxError: invalid syntax (<ipython-input-53-c9842f6a5313>, line 39)

In [ ]:
# source http://ilearnasigoalong.blogspot.ch/2017/10/calculating-correlation-inside-mongodb.html

In [3]:
from itertools import product, combinations
def pearson(ctx):
    # this works
    # source http://ilearnasigoalong.blogspot.ch/2017/10/calculating-correlation-inside-mongodb.html
    facets = {}
    unwinds = []
    for x, y in product(ctx.columns, ctx.columns):
        xcol = '$' + x
        ycol = '$' + y
        sumcolumns = { '$group' : { '_id': None,
                     'count': { '$sum': 1 },
                     'sumx' : { '$sum' : xcol},
                     'sumy' : { '$sum' : ycol},
                     'sumxsquared' : { '$sum' : { '$multiply' : [xcol, xcol] } },
                     'sumysquared' : { '$sum' : { '$multiply' : [ycol, ycol] } },
                     'sumxy' : { '$sum' : { '$multiply' : [xcol, ycol] } }
                   }}

        multiply_sumx_sumy = { '$multiply' : [ "$sumx","$sumy"] }
        multiply_sumxy_count = { '$multiply' : ["$sumxy","$count"]}
        partone = { '$subtract': [ multiply_sumxy_count, multiply_sumx_sumy ]}

        multiply_sumxsquared_count = { '$multiply' : ["$sumxsquared","$count"]}
        sumx_squared = { '$multiply' : ["$sumx","$sumx"]}
        subparttwo = { '$subtract' : [ multiply_sumxsquared_count,sumx_squared  ]}


        multiply_sumysquared_count = { '$multiply': ["$sumysquared","$count"]}
        sumy_squared = { '$multiply' : ["$sumy","$sumy"]}
        subpartthree = { '$subtract' : [ multiply_sumysquared_count, sumy_squared  ]}

        parttwo = { '$sqrt' : {'$multiply' : [ subparttwo, subpartthree]}}

        rho  = {'$project': { 
            'rho':  {
                '$divide' : [partone, parttwo]
            },
            'x': x,
            'y': y
        }}
        pipeline = [sumcolumns, rho]
        outcol = '{}_{}'.format(x, y)
        facets[outcol] = pipeline
        unwinds.append({'$unwind': '$' + outcol})
    facet = {
        '$facet': facets,
    }
    expand = [{
            '$project': {
                'value': {
                    '$objectToArray': '$$CURRENT',
                }
            }
        }, {
            '$unwind': '$value'
        }, {
            '$replaceRoot': {
                'newRoot': '$value.v'
            }
        }]
    return [facet, *unwinds, *expand]

#print(mdf[['casual', 'feelslike', 'hour']].apply(pearson).inspect())
mdfx = mdf[['casual', 'feelslike', 'hour']].apply(pearson)
[v for v in mdfx._get_cursor()]
# get values
corr = mdfx.value
# present as a table
xcorr = corr.pivot('x', 'y', 'rho')
xcorr

OperationFailure: can't $divide by zero

In [2]:
from itertools import product

def covariance(ctx):
    # this works
    # source http://ci.columbia.edu/ci/premba_test/c0331/s7/s7_5.html
    facets = {}
    unwinds = []
    count = len(ctx.caller[x].noapply()) - 1
    print('**covar')
    for x, y in product(ctx.columns, ctx.columns):
        xcol = '$' + x
        ycol = '$' + y
        if xcol not in means:
            means[xcol] = ctx.caller[x].noapply().mean().values[0, 0],
        if ycol not in means:
            means[ycol] = ctx.caller[y].noapply().mean().values[0, 0]
        sumands = {
            xcol: { 
             '$subtract': [xcol, means[xcol]]
            },
            ycol: {
             '$subtract': [ycol, means[ycol]]
            }
        }
        multiply = {
            '$multiply': [sumands[xcol], sumands[ycol]]
        }
        agg = {
            '$group': {
                '_id': None,
                'value': {
                    '$sum': multiply
                } 
            }
        }
        project = {
            '$project': {
                'cov': {
                  '$divide': ['$value', count],
                },
                'x': x,
                'y': y,
            }
        }
        pipeline = [agg, project]
        outcol = '{}_{}'.format(x, y)
        facets[outcol] = pipeline
        unwinds.append({'$unwind': '$' + outcol})
    facet = {
        '$facet': facets,
    }
    expand = [{
            '$project': {
                'value': {
                    '$objectToArray': '$$CURRENT',
                }
            }
        }, {
            '$unwind': '$value'
        }, {
            '$replaceRoot': {
                'newRoot': '$value.v'
            }
        }]
    return [facet, *unwinds, *expand]

#print(mdf[['casual', 'feelslike', 'hour']].apply(pearson).inspect())
mdf = om.datasets.getl('bikeshare')
mdfx = mdf[['casual', 'feelslike', 'hour']].apply(covariance)
%time cov = mdfx.value
xcov = cov.pivot('x', 'y', 'cov')
xcov

**covar
CPU times: user 136 ms, sys: 12.4 ms, total: 148 ms
Wall time: 1.2 s

y               casual  feelslike        hour
x
casual     2430.986021   3.847457  102.684174
feelslike     3.847457   0.029532    0.158927
hour        102.684174   0.158927   47.808998

In [10]:
mdf['holiday'].mean()

   holiday_mean
0       0.02877

In [75]:
# present as a table
xcov = cov.pivot('x', 'y', 'rho')
cov

KeyboardInterrupt:

In [105]:
sum(df['casual'] * df['feelslike'])

361849.75520000001

In [132]:
def test(ctx):
    groupby = {
        '$group': {
            '_id': None,
            'count': {
                '$sum': 1
            },
            'mean': {
                '$first': {
                    '$subtract': ['$count', 1]
                }
            }
        }
    }
    return [groupby]

mdf = om.datasets.getl('bikeshare')
mdf[['casual']].apply(test).value

   count  mean
0  17379  None

In [9]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(100000, 50))
df.columns = ['c{}'.format(i) for i in df.columns]
om.datasets.put(df, 'corrtest', append=False)
%time df.corr()

CPU times: user 4.67 s, sys: 0 ns, total: 4.67 s
Wall time: 4.65 s

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c40,c41,c42,c43,c44,c45,c46,c47,c48,c49
c0,1.000000,-0.003409,-0.000485,-0.000344,-0.004084,0.004478,-0.002850,0.003936,-0.002250,-0.003435,...,-0.001938,0.001629,0.002550,-0.000771,0.000285,0.001668,0.004151,0.004567,0.002437,0.000895
c1,-0.003409,1.000000,-0.004909,-0.000621,0.003736,-0.000093,0.007721,-0.001982,0.001399,-0.000227,...,-0.000669,-0.004037,0.000697,-0.003332,0.001905,0.001578,0.003101,0.001307,0.000441,-0.001599
c2,-0.000485,-0.004909,1.000000,0.003740,-0.003331,0.000268,-0.000212,0.003142,-0.000024,-0.006134,...,-0.006968,0.001081,-0.000092,0.005469,0.003115,0.002101,0.001112,-0.000789,-0.002202,-0.002628
c3,-0.000344,-0.000621,0.003740,1.000000,0.005386,0.000980,-0.000301,0.002956,0.000114,-0.003441,...,0.000765,0.003559,-0.000306,0.000763,-0.002294,0.000354,-0.000037,0.001820,0.000084,0.003158
c4,-0.004084,0.003736,-0.003331,0.005386,1.000000,0.004394,-0.001170,0.001489,-0.000683,-0.003088,...,0.000471,0.002099,0.001050,-0.001101,-0.001764,-0.004928,0.002307,0.000106,0.001101,-0.001254
c5,0.004478,-0.000093,0.000268,0.000980,0.004394,1.000000,0.001934,-0.002686,-0.003333,0.003418,...,-0.000007,0.001845,-0.001947,-0.007947,-0.001278,0.008219,-0.000344,-0.003053,-0.004576,-0.000725
c6,-0.002850,0.007721,-0.000212,-0.000301,-0.001170,0.001934,1.000000,0.001713,0.000155,0.000698,...,-0.001205,-0.004387,-0.001238,-0.005243,0.000131,-0.004924,-0.001571,0.000686,-0.001345,0.007526
c7,0.003936,-0.001982,0.003142,0.002956,0.001489,-0.002686,0.001713,1.000000,-0.000022,0.003523,...,0.005930,-0.004350,0.002861,0.003764,-0.004267,-0.002412,0.001811,0.000159,-0.001762,-0.006660
c8,-0.002250,0.001399,-0.000024,0.000114,-0.000683,-0.003333,0.000155,-0.000022,1.000000,0.000321,...,-0.001086,-0.001235,0.004819,-0.001771,-0.003994,0.000496,0.005490,0.004441,0.004878,0.002175
c9,-0.003435,-0.000227,-0.006134,-0.003441,-0.003088,0.003418,0.000698,0.003523,0.000321,1.000000,...,0.001387,0.001801,-0.001896,0.000582,-0.003061,0.007606,0.004138,0.001165,0.000172,0.001884
c10,0.004743,-0.001520,-0.000137,0.004304,-0.003042,-0.002666,-0.000555,0.001931,0.002945,-0.005897,...,0.000736,-0.000140,0.001743,0.002691,-0.002297,-0.002016,0.004081,0.000006,0.004781,-0.000991
c11,-0.000263,-0.002380,-0.001584,0.003509,-0.001619,0.001667,0.008762,-0.001325,0.000910,-0.000595,...,-0.002659,0.003511,-0.007494,0.000082,0.002332,-0.000692,0.002950,-0.000552,-0.000410,-0.007331
c12,-0.004441,0.001089,0.000669,0.001646,0.003029,0.004043,-0.006157,-0.002132,-0.003206,0.003699,...,-0.003640,0.001577,-0.000193,0.001492,-0.001591,-0.002391,-0.001298,0.004688,0.003627,0.003026
c13,0.002554,0.000755,0.001443,0.002384,0.000432,0.001930,0.000225,-0.002575,-0.000077,0.001689,...,0.003020,0.000798,-0.000613,-0.001428,0.002826,-0.001278,-0.002074,-0.007644,-0.004143,-0.004029
c14,-0.004371,0.004945,0.006427,-0.000109,-0.004104,0.001851,-0.000571,0.001992,0.000925,0.000076,...,-0.002116,-0.006708,-0.002160,-0.000171,0.007253,0.000111,-0.004809,0.000550,0.001633,0.002666
c15,-0.001357,-0.004902,-0.002436,0.005225,0.001117,-0.001805,0.000851,0.001524,-0.005699,-0.003829,...,0.002242,0.003135,-0.006868,-0.000132,-0.005389,0.002740,0.002303,0.007276,0.003166,0.004461
c16,-0.003032,0.001086,-0.003481,-0.002414,0.000798,-0.003040,0.000590,-0.003019,0.003285,0.000087,...,0.002556,0.005174,0.002139,0.001788,-0.000277,-0.002513,-0.000117,0.000476,0.003286,0.001866
c17,-0.000098,0.004032,0.002522,0.000152,-0.002371,0.003654,-0.003412,0.002241,0.003720,0.000502,...,-0.002306,0.005085,-0.001534,0.005268,-0.003303,0.002082,-0.001765,0.003013,0.007270,-0.000556
c18,0.005934,-0.003204,0.002453,-0.000766,-0.007327,0.002174,0.000747,-0.000081,0.004834,0.004402,...,-0.002848,0.000032,-0.010200,-0.001565,0.002823,-0.002621,-0.000107,0.000650,-0.001063,0.001396
c19,0.000091,-0.000383,-0.001758,-0.002755,-0.002830,0.001352,0.000557,0.004739,0.001330,-0.001573,...,0.002136,-0.001269,-0.008189,0.003926,-0.002291,-0.001720,0.001386,0.002258,0.009269,-0.007104
c20,-0.000138,-0.006218,0.001913,0.000563,-0.001587,-0.000202,-0.002934,-0.002123,-0.002256,0.000189,...,-0.006648,-0.003816,-0.000934,-0.000102,-0.002206,-0.006438,0.002308,-0.008220,0.003253,0.008779
c21,0.004290,0.000058,-0.006025,-0.001991,-0.003870,-0.005792,-0.001060,0.002639,-0.001969,-0.000774,...,-0.003171,0.002543,0.001931,-0.003361,-0.003159,-0.002168,-0.003970,0.001088,-0.006943,-0.001161
c22,-0.001294,0.005543,0.004513,-0.000481,-0.002496,-0.006173,0.006948,-0.000770,-0.003155,-0.005360,...,0.000033,0.002237,0.002097,0.001503,0.000430,0.000148,-0.001882,-0.004571,0.001632,0.001925
c23,-0.001759,0.001151,-0.004363,-0.003253,-0.001506,0.002531,-0.001969,0.004685,0.000199,-0.001740,...,0.001072,0.000997,0.002632,-0.001944,0.000978,-0.001707,0.001329,0.001725,-0.002739,0.003911
c24,0.006816,-0.000358,0.001476,0.003023,-0.001798,0.001745,-0.005742,-0.007004,-0.000793,-0.003615,...,0.002639,-0.001104,0.001789,-0.002227,0.003786,-0.001833,-0.001851,-0.000459,0.002824,-0.004683
c25,0.005751,0.005673,0.000862,-0.005870,0.003047,-0.001689,0.004471,-0.004066,-0.001586,-0.002092,...,0.001809,0.001382,0.001695,0.000729,0.001341,0.002111,-0.000776,-0.000336,0.000357,0.001385
c26,-0.003746,0.002423,-0.001791,0.003081,0.007088,-0.001309,-0.000523,-0.004201,0.007328,-0.000656,...,0.001085,0.001413,-0.001587,0.003331,0.001388,0.000002,0.002911,-0.002252,0.000381,0.000528
c27,-0.001327,0.001417,0.005291,0.000102,0.006013,0.003068,0.000284,-0.001226,0.000298,0.000271,...,-0.002946,0.001819,0.001319,-0.000207,0.002291,-0.001737,-0.004193,0.002384,0.000832,-0.002247
c28,-0.000751,-0.003276,-0.004077,0.000056,0.001999,-0.001146,0.001237,-0.010074,-0.007097,0.000296,...,-0.000201,0.000503,-0.001187,-0.000430,-0.003095,-0.000748,-0.002241,0.002409,-0.003640,0.000255
c29,0.006524,0.004059,-0.002899,0.006900,0.002804,-0.001427,-0.006306,-0.000619,0.001553,0.002594,...,-0.000583,0.002774,0.004853,-0.001068,0.001400,-0.001231,-0.001457,0.001378,0.002508,-0.000485
c30,0.001565,0.003690,0.002041,-0.000404,-0.004593,-0.000529,-0.004027,-0.000706,-0.007825,-0.000984,...,-0.003021,0.002888,-0.000980,-0.002563,-0.001404,-0.004014,-0.007152,-0.000216,-0.000952,0.003042
c31,0.000511,-0.005250,0.007977,-0.003191,-0.004601,0.000930,0.002402,-0.000524,-0.001876,-0.002104,...,-0.005126,-0.000451,-0.000943,0.000435,-0.005009,0.001881,0.001161,-0.007563,0.001666,-0.001857
c32,-0.001006,-0.001059,0.004620,-0.003098,-0.002339,0.004427,-0.003397,0.005005,0.003932,0.001962,...,0.002633,0.003367,0.002726,-0.002122,0.007841,0.000424,-0.003236,0.004570,0.002827,-0.001316
c33,0.000775,0.002163,0.003988,0.000299,-0.000828,-0.006870,0.002705,0.002897,0.003140,-0.000988,...,-0.002817,-0.001637,0.007056,0.002589,0.002654,0.003373,0.004418,0.003788,0.004827,-0.003172
c34,0.000780,-0.004702,0.000528,-0.003255,0.003264,0.000509,0.003342,0.001784,-0.001729,-0.001830,...,0.000941,-0.004048,-0.003257,0.002574,-0.002158,-0.000786,0.003132,-0.000221,-0.000976,-0.002225
c35,0.000776,0.000222,-0.001044,-0.001695,0.000847,-0.001523,0.001771,-0.004779,0.003020,-0.003161,...,0.000118,-0.002081,0.002744,0.001924,0.001633,0.000080,-0.001276,-0.006200,-0.002276,0.004456
c36,0.003016,-0.002778,-0.002692,0.002962,0.001614,0.004617,0.006128,0.000006,-0.001939,-0.001189,...,-0.007036,-0.004024,0.000364,-0.001239,0.001428,-0.002643,-0.000843,0.005176,0.006815,0.002002
c37,-0.003215,0.003300,0.003760,-0.001839,-0.002260,0.003710,-0.007883,-0.002989,-0.003671,0.001443,...,-0.005440,0.005422,-0.002446,-0.001421,0.003029,-0.000077,-0.000909,0.005075,-0.002869,-0.000426
c38,-0.001713,0.001612,0.001153,-0.001032,-0.005707,0.002247,-0.002721,-0.002002,-0.002007,-0.001899,...,0.000367,0.001847,0.001567,-0.001608,-0.001696,0.004161,0.002079,0.003786,-0.000106,0.001123
c39,-0.002682,0.000533,0.003042,-0.002163,0.006706,-0.002715,0.002901,-0.001570,0.002531,-0.006921,...,-0.002118,0.001478,-0.001861,0.000302,-0.000694,0.001299,0.001496,0.004031,0.000412,0.003780
c40,-0.001938,-0.000669,-0.006968,0.000765,0.000471,-0.000007,-0.001205,0.005930,-0.001086,0.001387,...,1.000000,-0.000843,-0.005172,0.000585,0.002804,0.004207,0.002500,0.000709,-0.000224,0.003527
c41,0.001629,-0.004037,0.001081,0.003559,0.002099,0.001845,-0.004387,-0.004350,-0.001235,0.001801,...,-0.000843,1.000000,0.002600,0.003052,-0.000244,-0.010330,-0.001818,0.000362,0.003817,0.002304
c42,0.002550,0.000697,-0.000092,-0.000306,0.001050,-0.001947,-0.001238,0.002861,0.004819,-0.001896,...,-0.005172,0.002600,1.000000,0.001342,0.001863,-0.001560,0.002190,0.000975,-0.001346,0.002722
c43,-0.000771,-0.003332,0.005469,0.000763,-0.001101,-0.007947,-0.005243,0.003764,-0.001771,0.000582,...,0.000585,0.003052,0.001342,1.000000,0.002072,0.000550,0.006715,0.004095,-0.001167,-0.004006
c44,0.000285,0.001905,0.003115,-0.002294,-0.001764,-0.001278,0.000131,-0.004267,-0.003994,-0.003061,...,0.002804,-0.000244,0.001863,0.002072,1.000000,-0.003140,0.005626,-0.000828,-0.005739,-0.002441
c45,0.001668,0.001578,0.002101,0.000354,-0.004928,0.008219,-0.004924,-0.002412,0.000496,0.007606,...,0.004207,-0.010330,-0.001560,0.000550,-0.003140,1.000000,0.002924,0.003108,-0.001424,0.004394
c46,0.004151,0.003101,0.001112,-0.000037,0.002307,-0.000344,-0.001571,0.001811,0.005490,0.004138,...,0.002500,-0.001818,0.002190,0.006715,0.005626,0.002924,1.000000,0.000971,0.002178,0.001057
c47,0.004567,0.001307,-0.000789,0.001820,0.000106,-0.003053,0.000686,0.000159,0.004441,0.001165,...,0.000709,0.000362,0.000975,0.004095,-0.000828,0.003108,0.000971,1.000000,0.010274,-0.001038
c48,0.002437,0.000441,-0.002202,0.000084,0.001101,-0.004576,-0.001345,-0.001762,0.004878,0.000172,...,-0.000224,0.003817,-0.001346,-0.001167,-0.005739,-0.001424,0.002178,0.010274,1.000000,-0.001641
c49,0.000895,-0.001599,-0.002628,0.003158,-0.001254,-0.000725,0.007526,-0.006660,0.002175,0.001884,...,0.003527,0.002304,0.002722,-0.004006,-0.002441,0.004394,0.001057,-0.001038,-0.001641,1.000000

In [12]:
mdf = om.datasets.getl('corrtest')
%time mdf[['c{}'.format(i) for i in range(10)]].apply(pearson).value

CPU times: user 52.4 ms, sys: 5.03 ms, total: 57.4 ms
Wall time: 7.62 s

         rho   x   y
0   0.000698  c6  c9
1  -0.000227  c1  c9
2   0.001489  c4  c7
3   1.000000  c3  c3
4   0.001934  c5  c6
5   0.000114  c8  c3
6  -0.000227  c9  c1
7  -0.000621  c1  c3
8   0.003936  c7  c0
9   0.000980  c3  c5
10  0.000155  c6  c8
11  0.003418  c9  c5
12 -0.003441  c9  c3
13 -0.000093  c1  c5
14 -0.006134  c2  c9
15 -0.000301  c3  c6
16  0.000114  c3  c8
17 -0.000024  c2  c8
18  0.007721  c6  c1
19  0.003740  c3  c2
20 -0.002250  c0  c8
21  0.000321  c9  c8
22 -0.000485  c2  c0
23  0.000980  c5  c3
24  0.007721  c1  c6
25 -0.000024  c8  c2
26  0.003736  c4  c1
27 -0.000485  c0  c2
28 -0.002850  c0  c6
29 -0.000344  c3  c0
..       ...  ..  ..
70  0.003523  c9  c7
71 -0.000621  c3  c1
72  0.001934  c6  c5
73  0.000321  c8  c9
74  0.001399  c1  c8
75  1.000000  c8  c8
76 -0.003435  c9  c0
77 -0.002686  c7  c5
78  1.000000  c0  c0
79  0.002956  c3  c7
80 -0.004084  c0  c4
81  0.000268  c5  c2
82  0.001713  c6  c7
83  0.000268  c2  c5
84 -0.003331  c2  c4
85 -0.000022  c7  c8
86  1.000000  c5  c5
87  0.005386  c4  c3
88 -0.002850  c6  c0
89 -0.000344  c0  c3
90  0.004478  c5  c0
91 -0.003441  c3  c9
92  0.004394  c4  c5
93  1.000000  c9  c9
94 -0.003088  c9  c4
95 -0.004909  c2  c1
96 -0.000022  c8  c7
97 -0.002250  c8  c0
98 -0.003333  c5  c8
99  0.003142  c7  c2

[100 rows x 3 columns]

In [1]:
df = om.datasets.get('bikeshare')
df[['casual', 'feelslike', 'hour']].corr()

             casual  feelslike      hour
casual     1.000000    0.45408  0.301202
feelslike  0.454080    1.00000  0.133750
hour       0.301202    0.13375  1.000000

In [20]:
df = om.datasets.get('bikeshare')
%time df[['casual', 'feelslike', 'hour']].cov()

CPU times: user 1.71 ms, sys: 103 µs, total: 1.81 ms
Wall time: 1.81 ms

                casual  feelslike        hour
casual     2430.986021   3.847457  102.684174
feelslike     3.847457   0.029532    0.158927
hour        102.684174   0.158927   47.808998