In [172]:
import warnings
import os
os.environ.pop('DJANGO_SETTINGS_MODULE', '') 
os.environ['INPROGRESS'] = '0'
warnings.filterwarnings("ignore")

# Model Tracking

Model tracking means to record all input and outputs of a model or a service.
This allows us to track our model's performance over time, by automatically storing all inputs and outputs.

Note:

    We can also use this feature for experiment tracking (to find the best model), and for model monitoring (to detect drift)
    For now let's focus on just tracking input and outputs.

## Define a tracker

To track a model or a service, use

* `om.runtime.experiment()` - to create a *experiment*, which is just a append-only container for data (aka *tracker*, technically a *tracking provider*)
* `exp.track()` - to attach a tracker and automatically log all calls, inputs and outputs sent via the runtime (including via Python, the REST API and the command line)
* `exp.clear(force=True)` - to reset the experiment and delete all data. note  this cannot be undone (hence `force=True` is required)

In [185]:
import omegaml as om

with om.runtime.experiment('myservice') as exp:
    exp.clear(force=True)
    exp.track('myservice')

experiment experiments/myservice may previously have logged to data/myservice, now using data/myservice

## Call the model

In [189]:
# generate some aribtrary calls, thus collecting tracking data
for i in range(10):
    model = om.runtime.model('myservice')
    result = model.predict({'rooms': 10})
    result.get()

## Check the recorded data

Using the `exp` tracker instance that create in the above `with ...` statement,
we can get all our data.

```python
exp.data(run='*')
```

Why do we specify `run='*'`? This means we want to see all data ever stored in this experiment.

Each call to our model has recorded a *run*. Each run represents one call to 
our model. A run consists of several events:

* *start* - the start event, this starts the run
* *task_call* - the start of *model.predict()* by the runtime
* *task_success* - the result of *model.predict()* by the runtime
* *end* - the end event, this ends the run

(in case of a failure there would be a `task_error` event instead of `task_success`)

In [190]:
exp.data(run='*')

,experiment,run,step,event,key,value,dt,node,userid,taskid,name
0,myservice,12,None,stop,stop,None,2024-11-27 10:49:48.746561,varda,patrick,NaN,NaN
1,myservice,1,None,start,start,None,2024-11-27 10:55:22.880591,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
2,myservice,1,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.891448,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
3,myservice,1,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:22.893284,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,related
4,myservice,1,None,stop,stop,None,2024-11-27 10:55:22.927547,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
5,myservice,1,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:22.937261,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
6,myservice,2,None,start,start,None,2024-11-27 10:55:22.984283,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
7,myservice,2,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.997963,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
8,myservice,2,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.000065,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,related
9,myservice,2,None,stop,stop,None,2024-11-27 10:55:23.025295,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
10,myservice,2,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.031458,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
11,myservice,3,None,start,start,None,2024-11-27 10:55:23.065562,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
12,myservice,3,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.070138,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
13,myservice,3,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.071026,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,related
14,myservice,3,None,stop,stop,None,2024-11-27 10:55:23.087427,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
15,myservice,3,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.092253,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
16,myservice,4,None,start,start,None,2024-11-27 10:55:23.117013,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
17,myservice,4,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.123120,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
18,myservice,4,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.124235,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,related
19,myservice,4,None,stop,stop,None,2024-11-27 10:55:23.142715,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
20,myservice,4,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.148109,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
21,myservice,5,None,start,start,None,2024-11-27 10:55:23.172720,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
22,myservice,5,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.177105,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
23,myservice,5,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.178118,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,related
24,myservice,5,None,stop,stop,None,2024-11-27 10:55:23.206325,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
25,myservice,5,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.215398,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
26,myservice,6,None,start,start,None,2024-11-27 10:55:23.268160,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
27,myservice,6,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.277467,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
28,myservice,6,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.279008,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,related
29,myservice,6,None,stop,stop,None,2024-11-27 10:55:23.310499,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
30,myservice,6,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.321971,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
31,myservice,7,None,start,start,None,2024-11-27 10:55:23.366372,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
32,myservice,7,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.375789,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
33,myservice,7,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.377364,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,related
34,myservice,7,None,stop,stop,None,2024-11-27 10:55:23.410967,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
35,myservice,7,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.421563,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
36,myservice,8,None,start,start,None,2024-11-27 10:55:23.465653,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
37,myservice,8,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.474901,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
38,myservice,8,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.476579,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,related
39,myservice,8,None,stop,stop,None,2024-11-27 10:55:23.518372,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
40,myservice,8,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.527350,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
41,myservice,9,None,start,start,None,2024-11-27 10:55:23.564656,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
42,myservice,9,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.573331,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
43,myservice,9,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.574930,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,related
44,myservice,9,None,stop,stop,None,2024-11-27 10:55:23.603483,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
45,myservice,9,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.608971,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
46,myservice,10,None,start,start,None,2024-11-27 10:55:23.632611,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
47,myservice,10,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.637557,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
48,myservice,10,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.638449,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,related
49,myservice,10,None,stop,stop,None,2024-11-27 10:55:23.666280,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
50,myservice,10,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.675605,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN

We can subset the data in various ways

* `exp.data(..., event='<event name>')` - to select specific events (pass a list for multiple event names)
* `exp.data(..., since=<datetime>|'relative time')` - to select a specific time period
* `exp.data(..., <column>=<value>)` - to select some other column (pass a list of values for multiple matching values)

The data is returned as a dataframe

In [191]:
exp.data(run='*', event='task_call').iloc[0].value

{'args': ['myservice', [{'rooms': 10}]],
 'kwargs': {'rName': None, 'pure_python': False}}

In [221]:
exp.data(run='*', since='10m')

,experiment,run,step,event,key,value,dt,node,userid,taskid,name
0,myservice,1,None,start,start,None,2024-11-27 10:55:22.880591,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
1,myservice,1,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.891448,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
2,myservice,1,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:22.893284,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,related
3,myservice,1,None,stop,stop,None,2024-11-27 10:55:22.927547,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
4,myservice,1,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:22.937261,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,NaN
5,myservice,2,None,start,start,None,2024-11-27 10:55:22.984283,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
6,myservice,2,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.997963,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
7,myservice,2,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.000065,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,related
8,myservice,2,None,stop,stop,None,2024-11-27 10:55:23.025295,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
9,myservice,2,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.031458,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,NaN
10,myservice,3,None,start,start,None,2024-11-27 10:55:23.065562,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
11,myservice,3,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.070138,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
12,myservice,3,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.071026,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,related
13,myservice,3,None,stop,stop,None,2024-11-27 10:55:23.087427,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
14,myservice,3,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.092253,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,NaN
15,myservice,4,None,start,start,None,2024-11-27 10:55:23.117013,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
16,myservice,4,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.123120,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
17,myservice,4,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.124235,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,related
18,myservice,4,None,stop,stop,None,2024-11-27 10:55:23.142715,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
19,myservice,4,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.148109,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,NaN
20,myservice,5,None,start,start,None,2024-11-27 10:55:23.172720,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
21,myservice,5,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.177105,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
22,myservice,5,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.178118,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,related
23,myservice,5,None,stop,stop,None,2024-11-27 10:55:23.206325,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
24,myservice,5,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.215398,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,NaN
25,myservice,6,None,start,start,None,2024-11-27 10:55:23.268160,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
26,myservice,6,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.277467,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
27,myservice,6,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.279008,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,related
28,myservice,6,None,stop,stop,None,2024-11-27 10:55:23.310499,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
29,myservice,6,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.321971,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,NaN
30,myservice,7,None,start,start,None,2024-11-27 10:55:23.366372,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
31,myservice,7,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.375789,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
32,myservice,7,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.377364,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,related
33,myservice,7,None,stop,stop,None,2024-11-27 10:55:23.410967,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
34,myservice,7,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.421563,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,NaN
35,myservice,8,None,start,start,None,2024-11-27 10:55:23.465653,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
36,myservice,8,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.474901,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
37,myservice,8,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.476579,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,related
38,myservice,8,None,stop,stop,None,2024-11-27 10:55:23.518372,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
39,myservice,8,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.527350,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,NaN
40,myservice,9,None,start,start,None,2024-11-27 10:55:23.564656,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
41,myservice,9,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.573331,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
42,myservice,9,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.574930,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,related
43,myservice,9,None,stop,stop,None,2024-11-27 10:55:23.603483,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
44,myservice,9,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.608971,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,NaN
45,myservice,10,None,start,start,None,2024-11-27 10:55:23.632611,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
46,myservice,10,None,task_call,omegaml.tasks.omega_predict,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.637557,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
47,myservice,10,None,artifact,related,"{'name': 'related', 'data': '{""_id"": {""$oid"": ...",2024-11-27 10:55:23.638449,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,related
48,myservice,10,None,stop,stop,None,2024-11-27 10:55:23.666280,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN
49,myservice,10,None,task_success,omegaml.tasks.omega_predict,"{'result': {'price': [20.700640412703976]}, 't...",2024-11-27 10:55:23.675605,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,NaN

## Calculting runtime statistics

Trackers also provide convenient access to some summary statistics:

* `exp.stats.latency()` - to calculate the latency of calls
* `exp.stats.throughput()` - to calculate the throughput (number of calls per time unit, defaults to 60 seconds)
* `exp.stats.utilization()` - to calculate the utilization (percent of theoretical throughput, measured as max. calls possible / time unit, given  the latency)

In [222]:
exp.stats.latency(run='*')

,run,experiment,step,event,key,value,dt,node,userid,taskid,name,latency
0,1,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.880591,varda,patrick,017db6c3-7864-4141-a44d-45e41cd63f62,related,0.046956
1,2,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:22.984283,varda,patrick,1fdf7b24-5712-4887-8b57-c177f690c943,related,0.041012
2,3,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.065562,varda,patrick,694921d4-85a2-4a85-ad49-e559850f2f8b,related,0.021865
3,4,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.117013,varda,patrick,b1892b07-c26c-4e58-af72-42fad28dc1b6,related,0.025702
4,5,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.172720,varda,patrick,83886313-2ee4-4c79-b977-8345ec9a4a19,related,0.033605
5,6,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.268160,varda,patrick,c1d336b1-2a8f-4476-8306-046bd8a4676f,related,0.042339
6,7,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.366372,varda,patrick,b82d2c67-1371-4af9-8706-49e13af75bf9,related,0.044595
7,8,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.465653,varda,patrick,baedea9a-279d-4bd1-aaa4-cc53c5faf79f,related,0.052719
8,9,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.564656,varda,patrick,fc4ebf43-4d86-4139-86fe-aa6a3a1582b1,related,0.038827
9,10,myservice,None,start,start,"{'args': ['myservice', [{'rooms': 10}]], 'kwar...",2024-11-27 10:55:23.632611,varda,patrick,68147b63-5077-4576-bede-3ab75d36678a,related,0.033669
10,12,myservice,None,stop,stop,None,2024-11-27 10:49:48.746561,varda,patrick,None,None,0.000000

In [223]:
exp.stats.latency(run='*', percentiles=[.5, .9])

                count      mean       std  min       50%       90%       max
event  key
metric latency   11.0  0.034663  0.014629  0.0  0.038827  0.046956  0.052719

In [224]:
exp.stats.utilization(run='*')

,,count,mean,std,min,25%,50%,75%,max
event,key,,,,,,,,
metric,utilization,0.181818,0.001768,inf,0.0,0.000884,0.001768,0.002652,0.003535

In [225]:
exp.stats.throughput(run='*')

                      count  mean  std   min   25%   50%   75%   max
event  key
metric group_latency   11.0  60.0  0.0  60.0  60.0  60.0  60.0  60.0